@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-size: 10px;
}

body {
  background-color: #eaeaea;
  color: #2d3436;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 20px 0 10px 0;
  background-color: #eaeaea;
}

header .row {
  justify-content: space-between;
}

.btn__add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
  width: 8rem;
  height: 4rem;
  font-size: 3.5rem;
  background-color: #7cbb00;
  border-radius: 15px;
  margin-right: 10px;
  transition: all 0.2s ease-in, transform 0.1s ease-in, box-shadow 0.1s ease-in;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.3);
}
.btn__add-card:hover {
  background-color: #649700;
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.45);
}
.btn__add-card:active {
  transform: translateY(2px);
  box-shadow: 0 3px 1px 0 #507900;
}

main {
  margin-top: 110px;
}

main .row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px;
}

header .row:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  border-radius: 37%;
  background-color: #636e72;
}

.logo {
  margin: 0 20px;
}
.logo__span {
  font-family: "Chewy", cursive;
  font-size: 4rem;
  color: #2d3436;
  -webkit-user-select: none;
          user-select: none;
}

.block {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 20px 15px;
  flex: 0 0 33.3333%;
  transition: flex 0.5s;
}
.block .item {
  position: relative;
}
.block .item .item__close {
  display: none;
}
.block .item__header {
  -webkit-user-select: none;
          user-select: none;
  position: absolute;
  right: 15px;
  top: 10px;
}
.block .item__header-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 5px;
  font-size: 2rem;
  opacity: 0.5;
  -webkit-user-select: none;
          user-select: none;
  border-radius: 50%;
  transition: all 0.15s ease-in;
  cursor: pointer;
}
.block .item__header-btn:hover {
  opacity: 1;
}
.block .item__header-btn:active {
  background-color: #636e7250;
}
.block .item__header-btn:first-child {
  margin-right: 3px;
}
.block .item__title {
  padding: 0 15px 10px 0;
  margin: 15px 0 15px 0;
  border-bottom: 2px solid #636e72;
}
.block .item__list li {
  background-color: #eaeaea;
  opacity: 0.7;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.block .item__list li:hover {
  opacity: 1;
  box-shadow: 0 1px 5px 0 rgba(32, 33, 36, 0.3);
}
.block .item__btn {
  margin: 20px 14px 0 0;
  display: flex;
  justify-content: flex-end;
}
.block .item__btn_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-user-select: none;
          user-select: none;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.3);
  transition: all 0.15s ease-in, transform 0.1s ease-in, box-shadow 0.1s ease-in-out;
}
.block .item__btn_style:hover {
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.45);
  opacity: 1;
}
.block .item__btn_style:active {
  transform: translateY(2px);
}
.block .item__btn_add {
  background-color: #7cbb00;
}
.block .item__btn_add:hover {
  background-color: #649700;
}
.block .item__btn_add:active {
  box-shadow: 0 2px 1px 0 #507900;
}
.block .item__btn_delete {
  background-color: #f65314;
  letter-spacing: -6px;
}
.block .item__btn_delete p::first-letter {
  margin-left: -0.5rem;
}
.block .item__btn_delete:hover {
  background-color: #de4408;
}
.block .item__btn_delete:active {
  box-shadow: 0 2px 1px 0 #c03b07;
}
.block .item__btn_delete-active {
  background-color: #ffbb00;
}
.block .item__btn_delete-active:hover {
  background-color: #dba100;
}
.block .item__btn_delete-active:active {
  box-shadow: 0 2px 1px 0 #bd8a00;
}

.item {
  width: 100%;
  background-color: #f8f8f8;
  padding: 17px 20px;
  border-radius: 17px;
  box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.28);
  transition: box-shadow 0.2s ease-in;
}
.item:hover {
  box-shadow: 0 2px 12px 0px rgba(32, 33, 36, 0.4);
}

.item textarea {
  width: 100%;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  max-height: 4rem;
}

.title h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.title__input {
  height: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  background-color: transparent;
  margin-top: -0.75rem;
  transform: translateY(0.75rem);
}

.list ol {
  margin: 5px 15px 5px 30px;
}
.list li {
  font-size: 1.8rem;
  padding: 6px 7px 6px 7px;
  margin: 7px 0 7px 0;
  line-height: 1.25;
}
.list li.list__delete {
  position: relative;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: rgba(226, 15, 15, 0.2);
  transition: all 0.15s ease-in-out;
}
.list li.list__delete:hover {
  background-color: rgba(226, 0, 0, 0.4);
  list-style-type: none;
}
.list li.list__delete:hover:before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -2.4rem;
  top: 0.4rem;
  width: 2rem;
  height: 2rem;
  background: url("../img/icons/trash.svg") no-repeat;
  background-size: cover;
}
.list li.list__complete {
  position: relative;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: rgba(15, 226, 15, 0.2);
  transition: all 0.15s ease-in-out;
}
.list li.list__complete:hover {
  background-color: rgba(0, 226, 0, 0.4);
  list-style-type: none;
}
.list li.list__complete:hover:before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -2.4rem;
  top: 0.4rem;
  width: 2rem;
  height: 2rem;
  background: url("../img/icons/complete.svg") no-repeat;
  background-size: cover;
}
.list__input {
  margin: 0;
  padding: 0px !important;
  font-size: 1.8rem;
  padding: 5px 7px 5px 7px;
  line-height: 1.25;
  background-color: transparent;
  height: 2.25rem;
  margin-top: -0.63rem;
  transform: translateY(0.54rem);
}

@keyframes close {
  30% {
    opacity: 0;
  }
  100% {
    transform: translate3d(-38rem, -38rem, 0);
    opacity: 0;
  }
}
.closeAnim {
  animation-name: close;
  animation-timing-function: ease-in-out;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 15px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #eaeaea;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #636e72;
  border-radius: 8rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5457;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
  background-color: #1c1f20;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
  background-color: #1c1f20;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
  background-color: #1c1f20;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
  background-color: #1c1f20;
}

html, body {
  scrollbar-color: #eaeaea #636e72;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: auto;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1100px) {
  html {
    font-size: 14px;
  }

  .block {
    width: 33.3333%;
    flex: 0 0 33.3333%;
  }

  main .row {
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }

  .block {
    width: 50%;
    flex: 0 0 50%;
  }

  main .row {
    margin: 0 auto;
  }
}
@media (max-width: 840px) {
  html {
    font-size: 12px;
  }

  main .row {
    justify-content: center;
  }

  .block {
    flex: 0 0 85%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 12px;
  }

  main .row {
    justify-content: center;
  }

  .block {
    flex: 0 0 97%;
  }
}